<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      Matches
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page">
  
  <ion-card>
    <ion-list>
      <ion-list-header>Show matches</ion-list-header>
      <ion-item>
        <ion-label>Matches</ion-label>
        <ion-select [(ngModel)]="matches" (ionChange)="showSelectedMatches()">
          <ion-select-option value="SCHEDULED">Scheduled</ion-select-option>
          <ion-select-option value="LIVE">Live</ion-select-option>
          <ion-select-option value="FINISHED">Finished</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let data of response; let i=index">
        <ion-grid>
          <ion-card>
            <ion-row>
              <ion-row>
                <ion-col style="background:#c8f87c">
                  <div>
                    <h2>{{data.utcDate.substring(11).replace(":00Z"," ")}}</h2>
                  </div>
                </ion-col>
              </ion-row>
              <ion-col style="background:#e9f8d0">
                <div>
                  <h4>{{data.homeTeam.name}}</h4>
                  <h3><ion-icon name="football"></ion-icon>{{data.score.fullTime.homeTeam}}</h3>
                </div>
              </ion-col>
              <ion-col style="background:#e9f8d0">
                <div class="ion-text-start">
                  <h4>{{data.awayTeam.name}}</h4>
                  <h3><ion-icon name="football"></ion-icon>{{data.score.fullTime.awayTeam}}</h3>
                </div>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-grid>
      </ion-item>

    </ion-list>

  </ion-card>
</ion-content>