<ion-tabs backgroundcolor="dark">
  <ion-tabs >
  <ion-tab-bar class="tab" slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="planet"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="football"></ion-icon>
      <ion-label>Standings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="play"></ion-icon>
      <ion-label>Matches</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
