<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      Football App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page">
  <ion-card class="welcome-card">
    <img src="/assets/ball.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Football App</ion-card-subtitle>
      <ion-card-title>Match results, live matches</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>In this app, standings from some leagues can be found and some of the live or scheduled matches.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-list-header>Select League</ion-list-header>
      <ion-item>
        <ion-label>Leagues</ion-label>
        <ion-select [(ngModel)]="leagues" (ionChange)="showSelectedLeague()">
          <ion-select-option value="2021">Premier League</ion-select-option>
          <ion-select-option value="2002">Bundesliga</ion-select-option>
          <ion-select-option value="2019">Serie A</ion-select-option>
          <ion-select-option value="2014">Primeira Division</ion-select-option>
          <ion-select-option value="2013">Serie A - Brazil</ion-select-option>
          <ion-select-option value="2016">Championship</ion-select-option>
          <ion-select-option value="2003">Eredivisie</ion-select-option>
          <ion-select-option value="2017">Primeira Liga</ion-select-option>
          <ion-select-option value="2015">Ligue 1</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-card-title> Last 3 visited</ion-card-title>
      </ion-item>
      <ion-item *ngFor="let data of historyArray | slice:0:3;">
        <p>{{data.leagueName}}</p>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>