.ion-card-in{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
    background-color: white;
    
  }
;



ion-col.posStyle{
  background: #94ec06;
  size: 2;
}
#posInTable{
    background-color: #76ff7d;
    width: 10%;
    color: black;
    font-size: medium;
  }
;
.nameInTable{
    background-color: #a0ffa5;
    width: 100%;
    color: black;
    font-size: medium;
  }
;
.resInTable{
    background-color: #c7ffca;
    width: 100%;
    color: black;
    font-size: medium;
  }
;
.padding-left{

    float: left;
}
.padding-right{

    float:right;
}
.h2class{
    display: inline;
};
.pclass{
    display: inline;
};
