<ion-header >
  <ion-toolbar class="header">
    <ion-title>
      Football App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{leagues}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-row>
            <h1>Standings</h1>
          </ion-row>
        </ion-item>
        <ion-item *ngFor="let data of response; let i=index">
          <ion-grid>
            <ion-card>
              <ion-row>
                <ion-col size="2" style="background:#d0ff85">
                  <div>
                    <h3>{{i + 1}}</h3>
                  </div>
                </ion-col>
                <ion-col style="background:#dcffbe">
                  <div class="ion-text-start">
                    <h3>{{data.team.name}}</h3>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row style="background:#b8ee8c">
                <ion-col class="ion-text-start">

                  <div class="ion-text-start">
                    <ion-img width:20 height:20 [src]="data.team.crestUrl"></ion-img>
                  </div>
                </ion-col>
                <ion-col class="ion-text-end">

                  <div class="ion-text-end">
                    <h3>W</h3>
                    <h3>{{data.won}}</h3>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="ion-text-end">
                    <h3>=</h3>
                    <h3>{{data.draw}}</h3>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="ion-text-end">
                    <h3>L</h3>
                    <h3>{{data.lost}}</h3>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="ion-text-end">
                    <h3>P</h3>
                    <h3>{{data.points}}</h3>
                  </div>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-grid>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>